*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffe3f1;
}

#player-turn {
  text-align: center;
  font-size: 48px;
  margin-top: 25px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 22vmin);
  grid-template-rows: repeat(3, 22vmin);
  gap: 5px;
  place-content: center;
  width: 90%;
  margin: 40px auto;
}
 .container {
  display: grid;
  grid-template-columns: repeat(3, 22vmin);
  grid-template-rows: repeat(3, 22vmin);
  gap: 5px;
  place-content: center;
  width: 90%;
  margin: 40px auto;
 }

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
  font-size: 56px;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
}

.x{
  color: #80c6ff;
}

.o{
  color: #f50057;
}

.popup {
  width: 100%;
  height: 100%;
  background-color: rgb(18, 0, 66);
  position: absolute;
  top: 0;
  opacity: 0.9;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#message {
  text-align: center;
  color: rgb(197, 48, 172);
  font-size: 56px;
  font-weight: bold;
  margin: 10px 0px;
}

#new-game {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  transition-duration: 0.3s;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}

#new-game:hover {
  transform: scale(1.1);
}

.hide {
  display: none;
}
